{% extends "learnlogs/base.html" %}
{% load pagetag %}

<!-- 传入topics -->
{% block sidebar%}
    <li class="dropdown" style="background-color: #1c1c1c">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">添加新主题 <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!-- <li class="dropdown-header">Dropdown heading</li> -->
            <form action="{% url 'learnlogs:index' %}" method="post">
                {% csrf_token %}
                <!-- <input type="text" name="q" style="background-color: #1c1c1c;color: white" placeholder="请输入新主题(登录)"> -->
                {{form.name}}
                <input type="submit" value="提交" style="background-color:#1c1c1c;color: white">
            </form>
      </ul>
    </li>
{% endblock %}
<!-- line modal -->


{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2" >
                {% if entries.has_previous %}
                {% else %}
                    <div class="jumbotron">
                        <h2>含泪播种的人，必能含笑收获。</h2>
                        <p align="right">---宗七七的学习小站</p>
                    </div>
                {% endif %}                
                <!-- 段落样式 -->
               {% for entry in entries %}
                    <div class="col-md-12 blogShort">
                        <h2>{{ entry.name }}</h2>
                        <em>{{ entry.date_added }}  -- <a href="{% url 'users:author_profile' entry.owner.id %}">{{entry.owner.username}}</a></em>
                        <p class="pam">{{entry.text|truncatewords:"30"}}</p>
                        <a class="btn btn-blog pull-right marginBottom10" href="{% url 'learnlogs:entry' entry.id %}">READ MORE</a> 
                    </div>
                {% empty %}
                    <h2>There is no Entries in this topic</h2>
                {% endfor %}

                <div class="col-md-12 blogShort">
                    <div class="container">
                        <br>
                    <ul class="pagination">
                        {% if entries.has_previous %}
                            <li><a href="?page={{ entries.previous_page_number }}">«</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">«</a></li>
                        {% endif %}

                        {% for pg in entries.paginator.page_range %}
                            {% circle_page entries.number pg %}
                        {% endfor %}

                        {% if entries.has_next %}
                            <li><a href="?page={{ entries.next_page_number }}">»</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">»</a></li>
                        {% endif %}
                    </ul>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}