{% extends "learnlogs/base.html" %}

<!-- 传入topics -->
{% block sidebar%}
    <li class="dropdown" style="background-color: #1c1c1c">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">添加新主题 <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!-- <li class="dropdown-header">Dropdown heading</li> -->
            <form action="{% url 'learnlogs:index' %}" method="post">
                {% csrf_token %}
                <!-- <input type="text" name="q" style="background-color: #1c1c1c;color: white" placeholder="请输入新主题"> -->
                {{form.name}}
                <input type="submit" value="提交" style="background-color:#1c1c1c;color: white">
            </form>
      </ul>
    </li>
{% endblock %}
<!-- line modal -->


{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2" >
                <div class="jumbotron">
                    <h2>含泪播种的人，必能含笑收获。</h2>
                    <br>
                    <br>
                </div>
                <!-- 段落样式 -->
               {% for entry in entries %}
                    <div class="col-md-12 blogShort">
                        <h2>{{ entry.name }}</h2>
                        <em>{{ entry.date_added }}</em>
                        <p class="pam">{{entry.text|truncatewords:"30"}}</p>
                        <a class="btn btn-blog pull-right marginBottom10" href="{% url 'learnlogs:entry' entry.id %}">READ MORE</a> 
                    </div>
                {% empty %}
                    <h2>There is no Entries in this topic</h2>
                {% endfor %}
        </div>

    </div>
</div>
{% endblock %}