# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
/venv/*
/MyTTS/files/*


/MyTools/settings.py
/MyCrawler/guangmo_pic/douban
/MyCrawler/guangmo_pic/weibo
/MyCrawler/guangmo_pic/wangyi
/MyCrawler/wangyimusic/music