{% extends "learnlogs/base.html" %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'mycss/mycss.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'mycss/myjs.js' %}"></script>


{% endblock %}

{% block content %}


<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2" >
            <form class="form-signin" action="{% url 'users:register' %}" method="post">
                <h1 class="form-signin-heading text-muted">Register</h1>
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% csrf_token %}
                <input name="username" type="text" class="form-control" placeholder="Username" required="" autofocus="">
                <input name="password" type="password" class="form-control" placeholder="Password(六位，不能全为数字)" required="">
                <input name="password1" type="password" class="form-control" placeholder="Password（再输入一次）" required="">
                <input name="email" type="email" class="form-control" placeholder="Email地址（帮助找回账户）">
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                <input type="hidden" name="next" value="{% url 'learnlogs:index' %}">
            </form>

 </div></div></div> 

    
{% endblock %}