{% extends "learnlogs/base.html" %}

{% block content %}
    {#通用表单页面#}
    <div class="row">
        <div class="col-md-6 col-md-offset-3" >
            <div id="panel_form" class="panel panel-default">
            <div class="panel-body">
            <h3 class="form_title">{{form_title}}</h3>
            <form class="main_form" method='post'>
                {%csrf_token%}
                {% for field in form %}
                    {# 区分是否是hidden字段 #}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="input-group">
                            <label class="input-group-addon" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </div>
                        {# 错误提示信息 #}
                        <p class="text-danger text-right">
                            {{ field.errors.as_text }}
                        </p>
                    {%endif%}
                {%endfor%}
 
                <div class="text-right form_btn">
                    <a class="btn btn-primary" id="btn_code">获取验证码</a>
                    <input class="btn btn-primary" id="btn_submit" type="submit" value="{{submit_name}}"/>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
 
{% block extra_footer %}
    {#获取验证码#}
    <script type="text/javascript">
        function time_run(time_check){
            time_check -= 1;
            $("#btn_code").text("("+time_check+")重新获取");
            if(time_check>0){
                //setTimeout('time_run('+time_check+')', 1000);
                setTimeout(function(){time_run(time_check)}, 1000);
            }else{
                $("#btn_code").text("获取验证码");
                $("#btn_code").removeClass("disabled");
            }
        }
 
        $(document).ready(function() {
            $("#btn_code").click(function(){
                //获取填写的邮箱，并检查
                var email_tip = $(".text-danger")[0];
                var email = document.getElementById("email").value;
                email_tip.innerText = '';
 
                var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                if(!myreg.test(email)){
                    email_tip.innerText = '* 请正确地填写邮箱'
                    return false;
                }
 
                //发送验证码
                $.ajax({
                    type:"GET",
                    url:"{% url 'get_email_code' %}?email=" + email,
                    cache:false,
                    dataType:'json',
                    success:function(result){
                        if(result['success']){
                            //提示
                            var code_tip = $(".text-danger")[3];
                            code_tip.innerText = '已经发送验证码到您填写的邮箱中'
 
                            //禁用按钮
                            $("#btn_code").addClass("disabled");
                            //倒计时
                            time_run(60);
                        }else{
                            alert(result['message']);
                        }                        
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert("获取出错，稍后再试一下吧。")
                    }
                });
            });
        });
    </script>
 
    <style type="text/css">
        .form_title{
            margin-bottom: 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px #ccc solid;
        }
        .main_form div, .form_btn .btn{
            margin-top:1em;
        }
        #panel_form{
            margin-top: 2em;
            margin-bottom: 3em;
        }
    </style>


{% endblock %}