{% extends "learnlogs/base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'mycss/mycss.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'mycss/myjs.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2" >
            <form class="form-signin" action="{% url 'users:changepw' %}" method="post">
                <h1 class="form-signin-heading text-muted">Register</h1>
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li style="list-style-type:none;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% csrf_token %}
                <input name="password1" type="password" class="form-control" placeholder="原密码" required="" autofocus="">
                <input name="password2" type="password" class="form-control" placeholder="新密码" required="">
                <input name="password3" type="password" class="form-control" placeholder="新密码（再输入一次）" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">修改密码</button>
                <input type="hidden" name="next" value="{% url 'learnlogs:index' %}">
            </form>
 </div></div></div> 
 <br><br><br>
{% endblock %}