{% extends "learnlogs/base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'mycss/mycss.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'mycss/myjs.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-8 col-md-offset-2" >
            <br><br><br><br><br><br><br>
            <p style="font-family: Georgia;padding: 5px;font-size:30px;">{{message}}</p>
            <br><br><br><br><br><br><br>
 </div></div></div> 
{% endblock %}